<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>IT Academy</title>
        <link rel="stylesheet" href="/css/courses.css" />
    </head>
    <body>
        <h1>IT Academy</h1>
        <div class="wrapper">
            <h2 class="title">Available courses</h2>
            <div>
                <div class="buttons">
                    <a href="/cart" style="border-radius: 25px">
                        <button class="button">View cart</button>
                    </a>
                    <% if (!userConnected) { %>
                    <a href="/login" style="border-radius: 25px">
                        <button class="button">Log in</button>
                    </a>
                    <% } %>
                </div>
                <% if (courses.length > 0) { %>
                <table>
                    <thead>
                        <tr>
                            <!-- Show the header based on first row keys -->
                            <% Object.keys(courses[0]).forEach((column) => { %>
                            <!-- Set the first letter to capital letter -->
                            <th><%= column.charAt(0).toUpperCase() + column.slice(1) %></th>
                            <% }) %>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% courses.forEach((course) => { %>
                        <tr>
                            <!-- Show each column data for a given row/course -->
                            <% Object.keys(course).forEach((column) => { %>
                            <td><%= course[column] %></td>
                            <% }) %>
                            <td>
                                <% if (!cart.isInCart(course)) { %>
                                <a href="/add/<%= course.id %>" class="actionButton">Add to cart</a>
                                <% } %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } else { %>
                <div class="noCoursesText">
                    <p>There are currently no courses available.</p>
                    <p>Make sure to check regularly, lots of <b>new courses are coming</b> !</p>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
